@import url('https://fonts.googleapis.com/css?family=Oswald:500');

* {box-sizing: border-box;}

body {

	margin: 0;
	/*font-family: Arial;*/
	font-family: 'Oswald', sans-serif;
	font-size: 17px;

}

#myVideo {

	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;

}

.content {

	position: fixed;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 0px 20px 40px 20px;

}

a, a:link, a:visited {

	color:#f1f1f1;
	font-style: italic;

}
